<h1>You have been invited to Save the World - Unite the Armies by <%= @sent_from %>!</h1>

<p class="lead"><%= _("Instroduction") %></p>
<p>.... Tähän kampanjan yleinen esittely .... </p>

<p class="lead"><%= _("Save the World! Act Now!") %></p>
<p>
  <a href="<%= new_vote_url %>">Vote</a>
</p>
