<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Unite The Armies" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="" />
	<meta property="og:description" content="On olemassa piilevä potentiaali: kansalliset armeijat. Armeijoille on annettava uusi, rakentava tehtävä." />
	<title>Unite The Armies</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/theme-mountain-favicon.ico">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css'>
	
	<!-- Css -->
	<link rel="stylesheet" href="css/core.min.css" />
	<link rel="stylesheet" href="css/skin-barber-shop.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="shop home-page">

	<!-- Overlay Navigation Menu -->
	<div class="overlay-navigation-wrapper enter-bottom" data-no-scrollbar data-animation="slide-in">
		<div class="overlay-navigation-scroll-pane">
			<div class="overlay-navigation-inner">
				<div class="v-align-middle">
					<div class="overlay-navigation-header row collapse full-width">
						<div class="column width-12">
							<div class="navigation-hide overlay-nav-hide">
								<a href="#">
									<span class="icon-cancel"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="row collapse full-width">
						<div class="column width-12">
							<nav class="overlay-navigation nav-block">
								<h4 class="menu-title">VALIKKO</h4>
								<ul>
									<li>
										<a href="etusivu.html" class="contains-sub-menu">ETUSIVU</a>
									</li>
									<li>
										<a href="tietoa.html" class="contains-sub-menu">TIETOA</a>
									</li>
									<li class="current">
										<a href="kannata.html" class="contains-sub-menu">KANNATA</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="overlay-navigation-footer row full-width">
						<div class="column width-12 no-padding">
							<p class="copyright no-margin-bottom">&copy; 2016 UNITE THE ARMIES. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Overlay Navigation Menu End -->

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
			<header class="header header-fixed header-fixed-on-mobile header-transparent" data-sticky-threshold="window-height" data-bkg-threshold="100">
				<div class="header-inner">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="etusivu.html"><img src="images/barber-shop/logo-dark.png" alt="Sartre Logo" /></a>
									<a href="etusivu.html"><img src="images/barber-shop/logo.png" alt="Sartre Logo" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>
								
									<li class="aux-navigation hide">
										<!-- Aux Navigation -->
										<a href="#" class="navigation-show overlay-nav-show nav-icon">
											<span class="icon-menu"></span>
										</a>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block primary-navigation nav-right no-margin-right">
								<ul>
									<li>
										<a href="etusivu.html" class="contains-sub-menu">ETUSIVU</a>
									</li>
									<li>
										<a href="tietoa.html" class="contains-sub-menu">TIETOA</a>
									</li>
									<li class="current">
										<a href="kannata.html" class="contains-sub-menu">KANNATA</a>
									</li>
                                    	<li>
										<a href="#" class="contains-sub-menu current"><img src="images/barber-shop/es.png" alt=""/></a>
									</li>
                                                                        	<li>
										<a href="#" class="contains-sub-menu"><img src="images/barber-shop/fr.png" alt=""/></a>
									</li>
	                                    	<li class="current">
										<a href="#" class="contains-sub-menu"><img src="images/barber-shop/gb.png" alt=""/></a>
									</li>
                                    <li>
										<a href="#" class="contains-sub-menu"><img src="images/barber-shop/es.png" alt=""/></a>
									</li>
                                                                        	<li>
										<a href="#" class="contains-sub-menu"><img src="images/barber-shop/fr.png" alt=""/></a>
									</li>
	                                    	<li>
										<a href="#" class="contains-sub-menu"><img src="images/barber-shop/gb.png" alt=""/></a>
									</li>
	<li>
										<a href="#" class="contains-sub-menu"><img src="images/barber-shop/gb.png" alt=""/></a>
									</li>
	
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

							<!-- Fullscreen Slider Section -->
				<section class="section-block featured-media tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
								<div class="tms-content">
									<div class="tms-content-inner center left-on-mobile v-align-middle">
										<div class="row">
											<div class="column width-12">
												<h1 class="tms-caption title-xlarge color-white lspacing-medium no-margin-bottom weight-bold"
													data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;"
													data-no-scale
												>
													KANNATA 
												</h1>
												<div class="clear"></div>
												<h5 class="tms-caption color-white lspacing-medium mt-20"
												 	data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;"
													data-no-scale>
Radikaaleja toimia tarvitaan maailman pelastamiseksi.</h5>
											</div>
										</div>
									</div>
								</div>
								<img data-src="images/barber-shop/slider/slide-3-fs.jpg" data-retina src="images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Fullscreen Slider Section End -->

				
                            
				<!-- Feature Column Section -->
				<div id="featured-trips" class="section-block replicable-content">
					<div class="row">
					<div class="column width-8 offset-2">
							<div class="feature-column small center">
							<div class="feature-text">
									<h5 class="text-uppercase text-small weight-light color-grey">Seuraavat, eri aloja edustavat, merkittävät professorit ovat antaneet vetoomukselle kannatuksensa:
</h5>
								
								</div>
							</div>
						</div>
						
					</div>
                    <div class="row">
                    
                    				<div class="column width-4 offset-2">
							<div class="feature-column small center">
								<div class="feature-text">
									<p class="mb-mobile-30">
            Mikael Fortelius, evoluutiopaleontologia<br>
            Pekka Kauppi, ympäristönsuojelu <br>
            Anto Leikola, oppihistoria <br>
            Pentti Murole, kaupunkisuunnittelu <br>
            Heikki Palva, arabian kieli <br>
            Juha Pentikäinen, pohjoinen etnografia <br></p>
								</div>
							</div>
						</div>
                    
					<div class="column width-6">
							<div class="feature-column small center">
							<div class="feature-text">
									<p class="mb-mobile-30">
            Eero Saksela, lääketiede <br>
Jan Söderlund, arkkitehtuuri <br>
Peter Tigerstedt, kasvitiede <br>
Tuija Vihavainen, puutekniikka <br>
Reijo Vihko, lääketiede <br>
Yrjö Wiherheimo, teollinen muotoilu </p>
								</div>
							</div>
                            					
	
						</div>
						
					</div>
				</div>
         				<!-- Feature Column Section end -->
                        
                        <!-- Feature Column Section -->
				<div id="featured-trips" class="section-block replicable-content bkg-charcoal color-white">
					<div class="row">
					<div class="column width-8 offset-2">
							<div class="feature-column small center">
							<div class="feature-text">
									<h5 class="text-uppercase text-small weight-light color-grey">Seuraavat, eri aloja edustavat, merkittävät professorit ovat antaneet vetoomukselle kannatuksensa:
</h5>
								
								</div>
							</div>
						</div>
						
					</div>
                    <div class="row">
                    
                    				<div class="column width-4 offset-2">
							<div class="feature-column small center">
								<div class="feature-text">
									<p class="mb-mobile-30">
            Maikki Harjanne, kirjailija<br>
            Arto Häilä, suomentaja<br>
            Timo Hännikäinen, kirjailija<br>
            Risto Isomäki, kirjailija<br>
            Tiina Krohn, kirjailija<br>
            Pentti Linkola, kirjailija<br></p>
								</div>
							</div>
						</div>
                    
					<div class="column width-6">
							<div class="feature-column small center">
							<div class="feature-text">
									<p class="mb-mobile-30">
            Harri Manner, kirjailija<br>
            Hannu Mäkelä, kirjailija<br>
            Kimmo Pietiläinen, suomentaja<br>
            Mauno Saari, kirjailija<br>
            Hannu Salama, kirjailija<br>
            Kaari Utrio, kirjailija</p>
								</div>
							</div>
                            					
	
						</div>
						
					</div>
				</div>
         				<!-- Feature Column Section end -->
       
               

			</div>
			<!-- Content End -->
            
            <!-- Feature Section 1 -->
				<section class="section-block feature-1 bkg-white">
					<div class="row no-padding-bottom">
						<div class="column width-6 offset-3">
							<div class="feature-content">
								<div class="feature-content-inner">
									
								<h3 class="color-black mb-90"> TÄHÄN TULEE LOMAKE </h3>
                                    						
								</div>
							</div>
						</div>
					</div>
					
				</section>
				<!-- Feature Section 1 End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="footer-top">
					<div class="row">
						<div class="column width-4">
							<div class="widget">
								<h4 class="widget-title">Vihreä Elämänsuojelun Liitto</h4>
						    <img style="width:60%;" src="images/barber-shop/vesl_logo.jpg" alt="Vihreä Elämänsuojelun Liitto"/> </div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title">Tietoa meistä</h4>
								<ul class="list-group small">
          <li><a target="_blank" href="http://www.vesl.fi/">Vihreä Elämänsuojelun Liitto (VESL)</a></li>
          <li><span class="post-info"><span class="post-date">Veli Keitel (Animaatioiden toteutus)</span></span></li>
          <li><span class="post-info"><span class="post-date">Riikka Kämppi</span></span></li>
          <li><span class="post-info"><span class="post-date">Pekka Lehtinen</span></span></li>
          <li><span class="post-info"><span class="post-date">Ulf Lindström</span></span></li>
          <li><span class="post-info"><span class="post-date">Pentti Linkola</span></span></li>
          <li><span class="post-info"><span class="post-date">Harriet Lonka</span></span></li>
          <li><span class="post-info"><span class="post-date">Vilma Lonka</span></span></li>
          <li><span class="post-info"><span class="post-date">Mika Mattila</span></span></li>
          <li><span class="post-info"><span class="post-date">Nina Motaleff</span></span></li>
          <li><span class="post-info"><span class="post-date">Maria Pakkala</span></span></li>
          <li><span class="post-info"><span class="post-date">Eero Paloheimo</span></span></li>
          <li><span class="post-info"><span class="post-date">Terhi Paloheimo</span></span></li>
          <li><span class="post-info"><span class="post-date">Kimmo Pietiläinen</span></span></li>
          <li><span class="post-info"><span class="post-date">Lasse Poser</span></span></li>
          <li><span class="post-info"><span class="post-date">Ville Rantanen</span></span></li>
          <li><span class="post-info"><span class="post-date">Song Xiao Ling</span></span></li>
          <li><span class="post-info"><span class="post-date">Adrian Soto</span></span></li>
          <li><span class="post-info"><span class="post-date">Pasi Takkinen</span></span></li>
          <li><span class="post-info"><span class="post-date">Joni Töyrylä (Tekninen toteutus)</span></span></li>
          <li><span class="post-info"><span class="post-date">Tere Vadén</span></span></li>
          <li><span class="post-info"><span class="post-date">Michael Wynne-Ellis</span></span></li>
								</ul>
							</div>
						</div>
						<div class="column width-3">
							<div class="widget">
								<h4 class="widget-title">Viimeisimmät allekirjoitukset </h4>
								
							</div>
						</div>
						<div class="column width-2">
							<ul class="social-list list-horizontal pull-right clear-float-on-mobile">
                            	<li><a href="#"><span class="icon-facebook-with-circle medium"></span></a></li>
								<li><a href="#"><span class="icon-twitter-with-circle medium"></span></a></li>
								<li><a href="#"><span class="icon-youtube-with-circle medium"></span></a></li>
								<li><a href="#"><span class="icon-google-with-circle medium"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->

		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?v=3"></script>
	<script src="js/timber.master.min.js"></script>
</body>
</html>