<!-- Content -->
<div class="content clearfix">
  <!-- Fullscreen Slider Section -->
  <section class="section-block featured-media tm-slider-parallax-container" style="height:10px">
    <div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
      <ul class="tms-slides">
        <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.0">
          <div class="tms-content">
            <div class="tms-content-inner center left-on-mobile v-align-middle">
              <div class="row">
                <div class="column width-12">
                </div>
              </div>
            </div>
          </div>
          <img data-src="/images/frontpage-slides/slide-4.jpg" src="/images/blank.png" alt=""/>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="section-block grid-container fade-in-progressively bkg-charcoal color-white" data-layout-mode="masonry" data-grid-ratio="1" data-animate-filter-duration="0.7" data-set-dimensions data-animate-resize data-animate-resize-duration="0.8">   
      <div class="row">
        <div class="column width-12">
          <h1><%= _("Material") %></h1>
          <p><%= _("See link below for a printable pamphlet and other campaign material. You may read the materials online, download them on your computer or print them; note that the pamphlet is designed to be printed on both sides of the paper.") %> </p>
          <a class="button large" href="<%= _('https://www.dropbox.com/sh/u5gnv99jy2tj6bu/AAAwbxfS04f6sGzSGky0_sZMa?dl=0') %>" target="_blank" style="color:#333 !important"><%= _("To the material page") %></a>
        </div>
      </div>
    </div>
  </section>
</div>



