// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-area {
  display: none;
}

.comment-topic { 
  display: none;
  p { padding-right: 10px; }
  img { 
    float: right; 
  }
}

.field {
  padding: 20px 0; 
}