.table, th, td { border: 0 !important; }
.table > tbody > tr > td, .table > tbody > tr > th {
  border-top: 1px solid #ddd !important;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.comment-area { 
  display: none 
}

/* Make the input fields and the country selector look the same */
input.form-control, select#vote_country
{
    color: black;
    font-size: inherit;
    font-weight: normal;
    border: 1pt solid #bbbbbb;
    padding: 1rem 2.5rem;
}

input.form-control:focus, select#vote_country:focus
{
    border-color: #777777;
}
