.table, th, td { border: 0 !important; }
.table > tbody > tr > td, .table > tbody > tr > th {
  border-top: 1px solid #ddd !important;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.comment-area { 
  display: none 
}

input.form-control
{
    font-size: inherit;
    font-weight: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

select#vote_country
{
    border: 1px solid #bbbbbb;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
