// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.sd-table-votes {
  border: 2px solid #333 !important;
  border-radius: 20px;
  padding: 10px;
  h1 { text-align: center; }
}


