// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Background Gradient: Top to Bottom
@mixin bg-gradient-t2b($start-colour, $end-colour) {
    background-color: $start-colour;
    background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(top, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(top, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(top, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(top, $start-colour, $end-colour);
    background-image:         linear-gradient(top, $start-colour, $end-colour);
    filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}');
}

article {
  margin: 50px 0;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.sd-table-votes {
  border: 2px solid #333 !important;
  border-radius: 20px;
  padding: 10px;
  h1 { text-align: center; }
}

.demand {
  @include bg-gradient-t2b(#aaa, #555);
  box-shadow: 10px 10px 5px #888888;
  color: white !important;
}

.new_vote_form {
  box-shadow: 10px 10px 5px #888888;
  padding: 20px; 
  margin: 20px;

}

.facebook-icon span {
  background: rgba(0, 0, 0, 0) url("/images/facebook-logo.jpeg") no-repeat scroll 0 0 !important;
}

.youtube-icon span {
  background: rgba(0, 0, 0, 0) url("/images/youtube-logo.jpeg") no-repeat scroll 0 0 !important;
}

.download-right p { 
  line-height: inherit !important;
}
