<h1>Total: <%= VoteCount.total %> votes</h1>

<table class="table">
  <% @sorted_votes.each do |vote| %>
    <tr>
      <td><%= image_tag "", :class => [:flag, vote.country] %></td>
      <td><%= Country.code_to_name(vote.country) %></td><td><%= vote.count %></td>
    </tr>
  <% end %>
</table>
