<h1>Total: <%= Vote.count %></h1>

<table class="table">
  <% @sorted_votes.each do |vote| %>
    <tr>
      <td><%= image_tag "", :class => [:flag, vote[0].downcase] %></td>
      <td><%= Country.code_to_name(vote[0]) %></td><td><%= vote[1] %></td>
    </tr>
  <% end %>
</table>
