<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "head" %>
  </head>

<body class="shop home-page">

  <div class="wrapper reveal-side-navigation">
    <div class="wrapper-inner">
      <%= render partial: "header" %>
      
      <div class="content clearfix">
        <%= yield %>
      </div>

      <%= render partial: "footer" %>
    </div>
  </div>

</body>
</html>
