<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "header" %>
    <meta http-equiv="refresh" content="38;URL=http://unite-the-armies.org/<%= locale %>/votes/new"> 
  </head> 
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
