<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "header" %>
    <meta http-equiv="refresh" content="38;url='<%= new_vote_url(locale: locale) %>'"> 
  </head> 
  <body data-no-turbolinks>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
