<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "header" %>
  </head> 
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="ua-video-top">
          Welcome to Save the Planet - Unite the Armies, <%= link_to "join the movement!", new_vote_path %>
        </div>
      </div>
    </div>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
